div.bgarticles
{
    background-color: #737373;
}

.bgarticles .recherche
{
    background-color: #a09f9f;
    color: #616161;
    font-family: Open Sans;
    font-weight: bold;
    text-align: center;
    border: none;
}

.bgarticles #recherche
{
    text-align: center;
    margin-top: 5em;
}

.bgarticles .listearticles
{
    margin-top: 3em;
    text-align: center;
    color: #000;
}

.bgarticles .listearticles img
{
    width: 100%;
    padding: 1.5em;
}

.bgarticles .listearticles p
{
    padding-left: 1.5em;
    text-align: justify;
}

.bgarticles .art1
{
    background-color: #762e21;
    margin-bottom: 3em;
}

.bgarticles .art2
{
    background-color: #8f92a7;
    margin-bottom: 3em;
}

.bgarticles .art3
{
    background-color: #7d7f37;
    margin-bottom: 3em;
}

.bgarticles .art4
{
    background-color: #ef9d5c;
}

.bgarticles .lienpage
{
    text-align: center;
    margin-top: 3em;
}
